<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="header">
      <h1>East Austin Zeitgeist</h1>
      <h4><%= link_to "Home", :root %> | About</h4>
    </div>
  </div>
  <div class="jumbotron">
    <h2>What's going on here?</h2>
    <p>I'm glad you asked.</p>
    <p>East Austin Zeitgeist comes from the union of <%= link_to "The Spirit of East Austin", "https://spiritofeastaustin.bloomfire.com/" %> project, and the language processing capabilities of <%= link_to "IBM's artificial intelligence, Watson", "https://www.ibm.com/watson/" %>.</p>
    <p>The Spirit of East Austin exists to co-create a more equitable prosperity in East Austin, by  focused engagement with the community.</p>
    <p>Thousands of comments have been collected from East Austinites, dealing with a variety of themes and categories. East Austin Zeitgeist lets you filter through these comments, and see what Watson makes of them.</p>
  </div>
</div>
